.container {
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  border: 1px solid #fff;
  border-radius: 8px;
  height: 80vh;
}

.weather {
  background-color: rgba(222, 220, 220, 0.5);
  backdrop-filter: blur(1px);
  color: #334d62;
  border-radius: 8px;
}

input[type="search"]:focus {
  border-color: #5e57ee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  color: #334d62;
  margin-bottom: 0;
}

h1 {
  color: #334d62;
  margin-top: 0;
}
.temperature {
  font-size: 48px;
  font-weight: 700;
}
.unit {
  font-size: 12px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -20px;
}
h2 {
  font-size: 16px;
  margin-bottom: 40px;
  color: #334d62;
}

.searchBox {
  margin: 24px 16px;
}

.btn {
  margin-left: 16px;
  background-color: #5e57ee;
  border: none;
}

.forecastWeather {
  margin: 80px 0;
}

.weatherContainer {
  margin: 0;
  padding: 0;
}

.currentWeather img {
  max-width: 120px;
  max-height: 100px;
}

.weatherDetails {
  font-size: 18px;
  padding: 20px;
  color: #334d62;
  font-weight: 500;
}

.forecastWeather img {
  max-width: 64px;
  max-height: 64px;
}

.forecastWeather li {
  font-size: 12px;
  padding: 16px;
}
